* {
  box-sizing: border-box;
}
.App {
  display: flex;
  min-height: 500px;
}

.JsonInput {
  flex: 1;
  border: 0.5px solid gray;
}

.Viewer {
  flex: 1;
  border: 0.5px solid gray;
}

textarea {
  width: 100%;
  min-height: 500px;
  resize: vertical;
}
